/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/***** FONTS *****/
@font-face {
  font-family: 'proxima-nova-bold';
  src: url("../fonts/proximanova/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-light';
  src: url("../fonts/proximanova/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-regular';
  src: url("../fonts/proximanova/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/***** MAIN *****/
/* line 49, ../sass/main.scss */
.my-clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* line 54, ../sass/main.scss */
.container-fluid {
  overflow: hidden;
}

/***** header *****/
/* line 60, ../sass/main.scss */
#header {
  position: absolute;
  top: 20px;
  width: 100%;
}

/* line 65, ../sass/main.scss */
#my-navbar {
  margin-bottom: 0;
  border-radius: 0;
  background: transparent;
  border: 0px;
  webkit-box-shadow: none;
  box-shadow: none;
}

/* line 73, ../sass/main.scss */
.navbar-default .navbar-nav > li:hover > a {
  color: rgba(255, 255, 255, 0.5);
}

/* line 76, ../sass/main.scss */
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  font: 18px "proxima-nova-light", Tahoma, Arial, sans-serif;
}

/* line 82, ../sass/main.scss */
.navbar-nav > li > a:hover {
  color: #fff;
}

/* line 85, ../sass/main.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

/* line 88, ../sass/main.scss */
#my-navbar-brand {
  padding: 5px 15px;
}

/* line 91, ../sass/main.scss */
#my-navbar-toggle:hover {
  background-color: #fff;
}

/* line 94, ../sass/main.scss */
#bs-example-navbar-collapse-1 {
  background: #fff;
}

/* line 97, ../sass/main.scss */
#bs-example-navbar-collapse-1 li:hover {
  background: #00a8ff;
}

/* line 100, ../sass/main.scss */
.img-jogging {
  margin-top: -57px;
  width: 100%;
  height: 400px;
  background: url(../img/jogging.jpg);
  background-size: cover;
  text-align: center;
}

/* line 109, ../sass/main.scss */
.img-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 45, 0.9);
}
/* line 113, ../sass/main.scss */
.img-overlay h4 {
  color: rgba(255, 255, 255, 0.5);
}

/* line 117, ../sass/main.scss */
.img-jogging h4 {
  padding-top: 200px;
}

/* line 120, ../sass/main.scss */
.img-jogging h1 {
  color: #fff;
}

/***** advantages *****/
/* line 126, ../sass/main.scss */
#advantages {
  margin: 0 -30px;
  max-width: 1170px;
}

/*adv1*/
/* line 132, ../sass/main.scss */
#adv1 {
  padding: 0 15px;
  min-height: 200px;
  background: url(../img/adv1.jpg) no-repeat;
  background-size: cover;
}
/* line 137, ../sass/main.scss */
#adv1 p {
  padding-left: 15px;
  margin-bottom: 0;
  display: inline-block;
  font: 18px "proxima-nova-light", Tahoma, Arial, sans-serif;
  color: #fff;
}
/* line 145, ../sass/main.scss */
#adv1 span {
  color: #fff;
  font-weight: bold;
  text-align: right;
}
/* line 150, ../sass/main.scss */
#adv1 h4 {
  margin-top: 25px;
  float: left;
  color: #fff;
  font-weight: bold;
}

/* line 157, ../sass/main.scss */
.square-wrap {
  float: right;
  margin-top: 30px;
}

/* line 161, ../sass/main.scss */
.square {
  float: left;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
}

/* line 168, ../sass/main.scss */
.square-wrap .active {
  background: #fff;
}

/* line 171, ../sass/main.scss */
.square:last-of-type {
  margin-right: 0;
}

/* line 174, ../sass/main.scss */
.adv1-line {
  line-height: 58px;
  border-bottom: 1px solid rgba(247, 87, 74, 0.5);
  font-size: 16px;
}

/* line 179, ../sass/main.scss */
.adv1-line:last-of-type {
  border-bottom: 0;
}

/* line 182, ../sass/main.scss */
.time {
  float: right;
}

/*adv2*/
/* line 186, ../sass/main.scss */
#adv2 {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 200px;
  background: url(../img/adv2.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}

/* line 195, ../sass/main.scss */
.adv2-text1 {
  padding: 20px 0 70px;
  font-size: 16px;
}

/* line 199, ../sass/main.scss */
.adv2-text2 {
  margin: 0;
  font-size: 24px;
}

/* line 203, ../sass/main.scss */
.adv2-text3 {
  margin: 0;
  font-size: 32px;
}

/*adv3*/
/* line 208, ../sass/main.scss */
#adv3 {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 200px;
  background: url(../img/adv3.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
/* line 216, ../sass/main.scss */
#adv3 h4 {
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
}
/* line 221, ../sass/main.scss */
#adv3 h3 {
  margin-bottom: 50px;
  font: 22px "proxima-nova-bold", Tahoma, Arial, sans-serif;
}
/* line 225, ../sass/main.scss */
#adv3 p {
  padding-bottom: 10px;
  opacity: .8;
  font: 16px "proxima-nova-light", Tahoma, Arial, sans-serif;
}

/***** services *****/
/* line 234, ../sass/main.scss */
#services {
  margin: 5px auto 0;
  max-width: 1170px;
  text-align: center;
}
/* line 238, ../sass/main.scss */
#services h2 {
  font: 30px "proxima-nova-bold", Tahoma, Arial, sans-serif;
}
/* line 241, ../sass/main.scss */
#services > h4 {
  margin-bottom: 50px;
  font: 22px "proxima-nova-light", Tahoma, Arial, sans-serif;
  color: #bbb;
}

/* line 248, ../sass/main.scss */
#serv-wrap {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 270px;
}

/* line 254, ../sass/main.scss */
#serv1,
#serv2,
#serv3 {
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  min-height: 200px;
  max-height: 315px;
  border: 1px solid #ddd;
}
/* line 264, ../sass/main.scss */
#serv1 h4,
#serv2 h4,
#serv3 h4 {
  font: 20px "proxima-nova-bold", Tahoma, Arial, sans-serif;
}
/* line 267, ../sass/main.scss */
#serv1 span,
#serv2 span,
#serv3 span {
  font: 16px/20px "proxima-nova-regular", Tahoma, Arial, sans-serif;
  color: #999;
  transition: all 1s ease;
}

/* line 274, ../sass/main.scss */
#serv2 img {
  position: relative;
  left: -70px;
}

/* line 280, ../sass/main.scss */
#serv3 img {
  position: relative;
  left: -150px;
}

/* line 285, ../sass/main.scss */
.img-wrap {
  position: relative;
  left: 50%;
  margin-left: -35px;
  margin-top: -37px;
  width: 70px;
  overflow: hidden;
  transition: all .5s ease;
}

/***** team *****/
/* line 296, ../sass/main.scss */
#team {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #F7F7F7;
  text-align: center;
}
/* line 302, ../sass/main.scss */
#team > h2 {
  font: 30px "proxima-nova-bold", Tahoma, Arial, sans-serif;
  color: #333;
}
/* line 306, ../sass/main.scss */
#team > h4 {
  font: 18px "proxima-nova-light", Tahoma, Arial, sans-serif;
  color: #bbb;
}

/* line 311, ../sass/main.scss */
#team-wrap {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
}

/* line 317, ../sass/main.scss */
.img-team-wrap {
  position: relative;
}
/* line 319, ../sass/main.scss */
.img-team-wrap h3 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font: 30px "proxima-nova-bold", Tahoma, Arial, sans-serif;
  color: #fff;
  transition: opacity .5s ease;
  z-index: 1;
}
/* line 329, ../sass/main.scss */
.img-team-wrap > p {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  font: 18px "proxima-nova-regular", Tahoma, Arial, sans-serif;
  color: #ddd;
  transition: opacity .5s ease;
  z-index: 1;
}

/* line 343, ../sass/main.scss */
#team1-wrap .img-team-wrap:before,
#team2-wrap .img-team-wrap:before,
#team3-wrap .img-team-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 168, 255, 0.8);
  transition: opacity .5s ease;
}
/* line 354, ../sass/main.scss */
#team1-wrap .img-team-wrap:after,
#team2-wrap .img-team-wrap:after,
#team3-wrap .img-team-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent 80%);
}

/* line 364, ../sass/main.scss */
.team {
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 3px #eaeaea;
  background: #fff;
}
/* line 369, ../sass/main.scss */
.team h4 {
  font-weight: bold;
}
/* line 372, ../sass/main.scss */
.team > p {
  color: #ddd;
}

/* line 376, ../sass/main.scss */
.team-round {
  position: relative;
  margin-top: -60px;
  margin-bottom: 25px;
  z-index: 1;
  transition: transform 0.5s ease;
  transform: rotateX(0deg);
}

/* line 384, ../sass/main.scss */
.rotate {
  transition: transform 0.5s ease;
  transform: rotateX(360deg);
}

/* line 388, ../sass/main.scss */
.btn-team {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #00a8ff;
  color: #00a8ff;
  transition: all .3s ease;
}
/* line 394, ../sass/main.scss */
.btn-team:hover {
  background: #00a8ff;
  color: #fff;
}

/***** Pricing *****/
/*lv1*/
/* line 403, ../sass/main.scss */
#pricing {
  padding-top: 50px;
  text-align: center;
  background: url(../img/pricing-jogging.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
/* line 409, ../sass/main.scss */
#pricing h2 {
  position: relative;
  font: 28px "proxima-nova-bold", Tahoma, Arial, sans-serif;
  z-index: 1;
}
/* line 414, ../sass/main.scss */
#pricing h4 {
  position: relative;
  opacity: .8;
  font: 16px "proxima-nova-light", Tahoma, Arial, sans-serif;
  z-index: 1;
}
/* line 420, ../sass/main.scss */
#pricing:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/* line 430, ../sass/main.scss */
.box-pricing-wrap-wrap {
  position: relative;
  margin: 0 auto;
  width: 280px;
  z-index: 1;
}

/* line 436, ../sass/main.scss */
.box-pricing-wrap {
  margin-top: 70px;
}

/* line 439, ../sass/main.scss */
#box-main-pricing {
  margin-bottom: 2px;
  min-height: 200px;
  max-width: 370px;
  min-width: 280px;
  background: #00a8ff;
}
/* line 445, ../sass/main.scss */
#box-main-pricing h4 {
  padding-top: 40px;
  font: 18px "proxima-nova-bold", Tahoma, Arial, sans-serif;
}
/* line 449, ../sass/main.scss */
#box-main-pricing p {
  font-size: 24px;
}
/* line 452, ../sass/main.scss */
#box-main-pricing span {
  font-size: .5em;
}

/* line 456, ../sass/main.scss */
.btn-pricing {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.9);
  font: 18px "proxima-nova-regular", Tahoma, Arial, sans-serif;
}

/*lv2*/
/* line 464, ../sass/main.scss */
#box-main-lv2 {
  margin-bottom: 20px;
  max-width: 370px;
  min-width: 280px;
}
/* line 468, ../sass/main.scss */
#box-main-lv2 ul {
  padding-top: 35px;
  padding-bottom: 40px;
  background: #00a8ff;
  list-style-type: square;
  text-align: left;
  font-size: 18px;
}

/*lv3*/
/* line 478, ../sass/main.scss */
#box-main-lv3 {
  margin-top: -7px;
  min-height: 200px;
  background: #bbb;
  transition: all .5s ease;
}
/* line 483, ../sass/main.scss */
#box-main-lv3 h4 {
  padding-top: 40px;
  font: 18px "proxima-nova-bold", Tahoma, Arial, sans-serif;
}
/* line 487, ../sass/main.scss */
#box-main-lv3 p {
  font-size: 24px;
}
/* line 490, ../sass/main.scss */
#box-main-lv3 span {
  font-size: .5em;
}

/***** tw-block *****/
/* line 496, ../sass/main.scss */
#tw-block {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #00a8ff;
  color: #fff;
  text-align: center;
}
/* line 502, ../sass/main.scss */
#tw-block i {
  margin-bottom: 20px;
  font-size: 22px;
}
/* line 506, ../sass/main.scss */
#tw-block p {
  margin-bottom: 20px;
  opacity: .8;
  font: 18px/28px "proxima-nova-light", Tahoma, Arial, sans-serif;
}
/* line 511, ../sass/main.scss */
#tw-block span {
  display: block;
  color: #93daff;
}
/* line 515, ../sass/main.scss */
#tw-block .square-wrap {
  display: inline-block;
  float: none;
}

/***** footer *****/
/* line 523, ../sass/main.scss */
#footer {
  background: url(../img/jogging.jpg);
  background-size: cover;
  text-align: center;
}

/* line 529, ../sass/main.scss */
.img-overlay-footer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 45, 0.9);
}
/* line 533, ../sass/main.scss */
.img-overlay-footer h4 {
  color: #fff;
}
/* line 536, ../sass/main.scss */
.img-overlay-footer span {
  color: rgba(255, 255, 255, 0.5);
}

/* line 540, ../sass/main.scss */
#free-trial {
  margin-bottom: 20px;
  padding-top: 20px;
  color: #fff;
}
/* line 544, ../sass/main.scss */
#free-trial h4 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}
/* line 549, ../sass/main.scss */
#free-trial p {
  font-size: 14px;
  color: #bbb;
}

/* line 554, ../sass/main.scss */
.btn-trial {
  display: inline-block;
  margin: 40px 0;
  padding: 10px 20px;
  background: #00a8ff;
  color: rgba(255, 255, 255, 0.9);
  transition: all .2s ease;
}
/* line 561, ../sass/main.scss */
.btn-trial:hover {
  background: rgba(0, 168, 255, 0.8);
}

/* line 566, ../sass/main.scss */
#opn-hours h4 {
  color: #fff;
  font-weight: bold;
}
/* line 570, ../sass/main.scss */
#opn-hours p {
  font-size: 16px;
  color: #bbb;
}
/* line 574, ../sass/main.scss */
#opn-hours span {
  display: block;
  font-size: 14px;
  color: #fff;
}

/* line 580, ../sass/main.scss */
#footer-bottom {
  margin-top: 50px;
}

/* line 584, ../sass/main.scss */
#copy p {
  color: #545662;
}
/* line 587, ../sass/main.scss */
#copy a {
  font-weight: bold;
}

/* line 591, ../sass/main.scss */
#social i {
  margin: 0 10px;
  color: #fff;
}

@media screen and (min-width: 480px) {
  /***** header *****/
  /***** advantages *****/
  /* line 600, ../sass/main.scss */
  #adv1,
  #adv2,
  #adv3 {
    min-height: 285px;
  }

  /* line 605, ../sass/main.scss */
  #adv1 h4 {
    margin: 30px 0 60px;
    font-size: 18px;
  }

  /* line 610, ../sass/main.scss */
  #adv3 h4 {
    margin: 30px 0 60px;
    font-size: 24px;
  }
  /* line 614, ../sass/main.scss */
  #adv3 h3 {
    font-size: 24px;
  }

  /* line 618, ../sass/main.scss */
  .adv2-text1 {
    padding: 30px 0 130px;
    font-size: 18px;
  }

  /* line 622, ../sass/main.scss */
  .adv2-text3 {
    font-size: 36px;
  }

  /***** services *****/
  /***** team *****/
  /***** Pricing *****/
  /* line 631, ../sass/main.scss */
  .box-pricing-wrap-wrap {
    width: 320px;
  }

  /* line 634, ../sass/main.scss */
  #box-main-pricing,
  #box-main-lv2,
  #box-main-lv3 {
    min-width: 320px;
  }

  /***** tw-block *****/
  /* line 640, ../sass/main.scss */
  #tw-block {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  /* line 644, ../sass/main.scss */
  #tw-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* line 647, ../sass/main.scss */
  #tw-block i {
    margin-bottom: 50px;
  }
  /* line 650, ../sass/main.scss */
  #tw-block p {
    margin-bottom: 30px;
  }

  /***** footer *****/
}
@media screen and (min-width: 768px) {
  /***** MAIN *****/
  /* line 661, ../sass/main.scss */
  .bevel {
    transform: rotate(-5deg);
    margin: 0 -100px;
  }

  /* line 665, ../sass/main.scss */
  .re-bevel {
    transform: rotate(5deg);
    margin-right: 100px;
    margin-left: 100px;
  }

  /***** header *****/
  /* line 672, ../sass/main.scss */
  #header {
    width: 70%;
    margin-left: 200px;
    z-index: 1;
  }

  /* line 677, ../sass/main.scss */
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }

  /* line 680, ../sass/main.scss */
  .img-jogging {
    height: 580px;
  }
  /* line 682, ../sass/main.scss */
  .img-jogging h4 {
    padding-top: 200px;
    font-size: 20px;
  }
  /* line 686, ../sass/main.scss */
  .img-jogging h1 {
    font-size: 32px;
  }
  /* line 688, ../sass/main.scss */
  .img-jogging h1:after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 30px;
    background: #00a8ff;
  }

  /* line 697, ../sass/main.scss */
  #bs-example-navbar-collapse-1 {
    background: transparent;
  }

  /***** advantages *****/
  /* line 701, ../sass/main.scss */
  #advantages {
    margin: -140px 0 0;
  }

  /* line 704, ../sass/main.scss */
  #adv3 {
    margin-top: 30px;
  }

  /***** services *****/
  /* line 708, ../sass/main.scss */
  #serv-wrap {
    max-width: initial;
  }

  /***** team *****/
  /* line 712, ../sass/main.scss */
  #team {
    padding-bottom: 150px;
  }
  /* line 714, ../sass/main.scss */
  #team h2.re-bevel {
    margin-right: 0;
    margin-left: 50px;
  }
  /* line 718, ../sass/main.scss */
  #team h4 {
    margin-right: 0;
    margin-left: 50px;
  }

  /* line 723, ../sass/main.scss */
  #team-wrap {
    max-width: 1170px;
  }

  /* line 726, ../sass/main.scss */
  .img-overlay {
    width: 100%;
    height: 100%;
  }
  /* line 729, ../sass/main.scss */
  .img-overlay h4 {
    color: rgba(255, 255, 255, 0.5);
  }

  /* line 736, ../sass/main.scss */
  #team1-wrap .img-team-wrap,
  #team2-wrap .img-team-wrap,
  #team3-wrap .img-team-wrap {
    position: relative;
  }
  /* line 738, ../sass/main.scss */
  #team1-wrap .img-team-wrap h3,
  #team2-wrap .img-team-wrap h3,
  #team3-wrap .img-team-wrap h3 {
    opacity: 0;
  }
  /* line 741, ../sass/main.scss */
  #team1-wrap .img-team-wrap p,
  #team2-wrap .img-team-wrap p,
  #team3-wrap .img-team-wrap p {
    opacity: 0;
  }
  /* line 746, ../sass/main.scss */
  #team1-wrap:hover .img-team-wrap,
  #team2-wrap:hover .img-team-wrap,
  #team3-wrap:hover .img-team-wrap {
    position: relative;
  }
  /* line 748, ../sass/main.scss */
  #team1-wrap:hover .img-team-wrap h3,
  #team2-wrap:hover .img-team-wrap h3,
  #team3-wrap:hover .img-team-wrap h3 {
    opacity: 1;
  }
  /* line 751, ../sass/main.scss */
  #team1-wrap:hover .img-team-wrap p,
  #team2-wrap:hover .img-team-wrap p,
  #team3-wrap:hover .img-team-wrap p {
    opacity: 1;
  }
  /* line 754, ../sass/main.scss */
  #team1-wrap:hover .img-team-wrap:after,
  #team2-wrap:hover .img-team-wrap:after,
  #team3-wrap:hover .img-team-wrap:after {
    background: none;
  }
  /* line 758, ../sass/main.scss */
  #team1-wrap:hover .img-team-wrap:before,
  #team2-wrap:hover .img-team-wrap:before,
  #team3-wrap:hover .img-team-wrap:before {
    opacity: 1;
  }

  /***** Pricing *****/
  /* line 764, ../sass/main.scss */
  #pricing {
    margin-top: -100px;
  }
  /* line 766, ../sass/main.scss */
  #pricing h2 {
    font-size: 48px;
  }
  /* line 769, ../sass/main.scss */
  #pricing h4 {
    font-size: 24px;
  }

  /***** tw-block *****/
  /***** footer *****/
  /* line 777, ../sass/main.scss */
  #footer {
    text-align: left;
  }

  /* line 780, ../sass/main.scss */
  .footer-wrap {
    margin: 0 auto;
    width: 700px;
  }

  /* line 784, ../sass/main.scss */
  #free-trial {
    margin-top: 50px;
  }

  /* line 787, ../sass/main.scss */
  #opn-hours {
    margin-top: 60px;
  }
  /* line 789, ../sass/main.scss */
  #opn-hours h4 {
    margin-bottom: 30px;
  }
  /* line 791, ../sass/main.scss */
  #opn-hours h4:after {
    content: '';
    display: inline-block;
    margin-left: 20px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #4CAF50;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
  }
}
@media screen and (min-width: 992px) {
  /***** header *****/
  /* line 807, ../sass/main.scss */
  .img-jogging {
    height: 700px;
  }
  /* line 809, ../sass/main.scss */
  .img-jogging h4 {
    padding-top: 300px;
    font-size: 24px;
  }
  /* line 813, ../sass/main.scss */
  .img-jogging h1 {
    font-size: 42px;
  }
  /* line 815, ../sass/main.scss */
  .img-jogging h1:after {
    height: 45px;
  }

  /***** advantages *****/
  /* line 821, ../sass/main.scss */
  #adv3 {
    margin-top: 0;
  }

  /***** services *****/
  /* line 826, ../sass/main.scss */
  #services {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  /* line 829, ../sass/main.scss */
  #services h2 {
    font-size: 48px;
  }
  /* line 832, ../sass/main.scss */
  #services > h4 {
    margin-bottom: 150px;
  }

  /* line 836, ../sass/main.scss */
  #serv1,
  #serv2,
  #serv3 {
    padding-right: 44px;
    padding-left: 44px;
    min-height: 315px;
  }
  /* line 842, ../sass/main.scss */
  #serv1 h4,
  #serv2 h4,
  #serv3 h4 {
    margin-top: 55px;
    font-size: 24px;
  }
  /* line 846, ../sass/main.scss */
  #serv1:hover,
  #serv2:hover,
  #serv3:hover {
    border: 1px solid #00a8ff;
  }
  /* line 848, ../sass/main.scss */
  #serv1:hover span,
  #serv2:hover span,
  #serv3:hover span {
    opacity: 1;
  }
  /* line 851, ../sass/main.scss */
  #serv1:hover .img-wrap,
  #serv2:hover .img-wrap,
  #serv3:hover .img-wrap {
    margin-top: -37px;
  }
  /* line 855, ../sass/main.scss */
  #serv1 span,
  #serv2 span,
  #serv3 span {
    opacity: 0;
    font-size: 18px;
    line-height: 26px;
    transition: all 1s ease;
  }

  /* line 862, ../sass/main.scss */
  .img-wrap {
    margin-top: 65px;
  }

  /***** team *****/
  /* line 866, ../sass/main.scss */
  #team {
    padding-top: 100px;
  }
  /* line 868, ../sass/main.scss */
  #team h2.re-bevel {
    margin-right: 0;
    font-size: 48px;
  }
  /* line 872, ../sass/main.scss */
  #team h4 {
    margin-right: 0;
    font-size: 24px;
  }

  /* line 878, ../sass/main.scss */
  .img-team-wrap h3 {
    top: 30px;
  }
  /* line 881, ../sass/main.scss */
  .img-team-wrap p {
    top: 90px;
  }

  /***** Pricing *****/
  /* line 887, ../sass/main.scss */
  #pricing {
    min-height: 1140px;
    margin-top: -110px;
  }
  /* line 890, ../sass/main.scss */
  #pricing h2 {
    font-size: 48px;
  }
  /* line 893, ../sass/main.scss */
  #pricing h4 {
    font-size: 24px;
  }

  /* line 897, ../sass/main.scss */
  .box-pricing-wrap-wrap {
    margin: 0 auto;
    width: auto;
    max-width: 1170px;
  }

  /* line 902, ../sass/main.scss */
  .box-pricing-wrap {
    float: right;
    margin-top: 230px;
    margin-right: 320px;
    max-width: 650px;
  }
  /* line 907, ../sass/main.scss */
  .box-pricing-wrap:hover {
    margin-right: 0px;
  }
  /* line 909, ../sass/main.scss */
  .box-pricing-wrap:hover #box-main-lv2 {
    display: inline-block;
    opacity: 1;
  }
  /* line 913, ../sass/main.scss */
  .box-pricing-wrap:hover #box-main-lv2:hover #box-main-lv3 {
    opacity: 1;
  }

  /* line 920, ../sass/main.scss */
  #box-main-pricing {
    float: left;
  }

  /* line 923, ../sass/main.scss */
  #box-main-lv2 {
    float: left;
    display: none;
  }

  /* line 927, ../sass/main.scss */
  #box-main-lv3 {
    margin-top: -10px;
    float: left;
    opacity: 0;
  }

  /***** tw-block *****/
  /* line 934, ../sass/main.scss */
  #tw-block {
    padding-top: 140px;
    padding-bottom: 125px;
  }

  /***** footer *****/
  /* line 940, ../sass/main.scss */
  .footer-wrap {
    margin: 0 auto;
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  /***** header *****/
  /* line 948, ../sass/main.scss */
  .img-jogging {
    height: 1140px;
    margin-top: -240px;
    padding-bottom: -240px;
  }
  /* line 952, ../sass/main.scss */
  .img-jogging h4 {
    padding-top: 500px;
    font-size: 36px;
  }
  /* line 956, ../sass/main.scss */
  .img-jogging h1 {
    font-size: 60px;
  }

  /* line 960, ../sass/main.scss */
  .img-overlay {
    margin-top: -240px;
    padding-bottom: 240px;
  }

  /***** advantages *****/
  /* line 965, ../sass/main.scss */
  #advantages {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 970, ../sass/main.scss */
  #adv3 h3 {
    font-size: 26px;
  }

  /***** services *****/
  /* line 976, ../sass/main.scss */
  #services {
    margin: 150px auto 175px;
  }
  /* line 978, ../sass/main.scss */
  #services h2 {
    font-size: 48px;
  }

  /***** team *****/
  /* line 983, ../sass/main.scss */
  #team {
    padding-top: 200px;
    padding-bottom: 350px;
  }

  /* line 987, ../sass/main.scss */
  #team-wrap {
    margin-top: 150px;
  }

  /***** Pricing *****/
  /* line 991, ../sass/main.scss */
  #pricing {
    margin-top: -210px;
  }

  /***** tw-block *****/
  /***** footer *****/
  /* line 997, ../sass/main.scss */
  #footer {
    background: url(../img/jogging.jpg) 0 -800px;
  }

  /* line 1000, ../sass/main.scss */
  .footer-wrap {
    margin: 0 auto;
    width: 1170px;
  }
}
